In [12]:
# casandra practice
# Three step of Casandra Connection
#(1) from cassandra.cluster import Cluster
#(2)cluster = Cluster()
#(3)session_offline = cluster.connect()
#(4)TO execute any query we exceute inside 
from cassandra.cluster import Cluster

In [17]:
from cassandra.cluster import Cluster
cluster = Cluster()
session_offline= cluster.connect()

In [20]:
from cassandra.cluster import Cluster
cluster = Cluster()
session_offline = cluster.connect()

In [23]:
b = session_offline.execute('create keyspace CassandraPractice with replication={'class':'SimpleStrategy','replication_factor':'1'} and durable_writes='true'')

SyntaxError: invalid syntax (Temp/ipykernel_7820/2355218383.py, line 1)

In [26]:
b = session_offline.execute('use anish')

In [27]:
print(b)

<cassandra.cluster.ResultSet object at 0x0000025D42996E50>

In [28]:
b = session_offline.execute('create table anish.employee(id int PRIMARY KEY,name Text,emprole Text,emplevel Text)')

In [29]:
print(b)

<cassandra.cluster.ResultSet object at 0x0000025D41C238E0>

In [47]:
# Inserting Data in table
b = session_offline.execute("insert into anish.employee (id,name,emprole,emplevel) values(2,'Anish','Data scientist','Level 6')")

In [48]:
b = session_offline.execute("insert into anish.employee(id,name,emprole,emplevel) values(1,'Abhsishek','Data Sciecntist','Level 7')")

In [49]:
b = session_offline.execute("select * from anish.employee")

In [50]:
# Printing statement 
for i in b:print(i)

Row(id=1, emplevel='Level 7', emprole='Data Sciecntist', name='Abhsishek')
Row(id=2, emplevel='Level 6', emprole='Data scientist', name='Anish')

In [51]:
b = session_offline.execute('alter table anish.employee add salay Text')

In [53]:
session_offline.execute("insert into anish.employee(id,name,emprole,emplevel,salay) values(1,'Prince','Data Analyst','Level 9','100000')")

In [54]:
session_offline.execute("insert into anish.employee (salary) values('100000') where id = 1")

SyntaxException: <Error from server: code=2000 [Syntax error in CQL query] message="line 1:53 mismatched input 'where' expecting EOF (... (salary) values('100000') [where]...)">

In [59]:
session_offline.execute("select Sum(salay) from anish.employee")

InvalidRequest: Error from server: code=2200 [Invalid query] message="Invalid call to function sum, none of its type signatures match (known type signatures: system.sum : (double) -> double, system.sum : (tinyint) -> tinyint, system.sum : (counter) -> counter, system.sum : (int) -> int, system.sum : (varint) -> varint, system.sum : (decimal) -> decimal, system.sum : (smallint) -> smallint, system.sum : (float) -> float, system.sum : (bigint) -> bigint)"