In [4]:
import mysql.connector as connection
try:
    conn = connection.connect(host='localhost',user='root',passwd='root',use_pure=True)
    cr = conn.cursor()
    query = 'Create database student'
    cr.execute(query)
    print('Database created')
except Exception as e:
    conn.close()
    print(str(e))

1007 (HY000): Can't create database 'student'; database exists

In [6]:
import mysql.connector as connection
try:
    conn = connection.connect(host='localhost',user='root',passwd='root',use_pure=True)
    cr = conn.cursor()
    query = 'use student'
    cr.execute(query)
    print('Inside Student')
except Exception as e:
    conn.close()
    print(str(e))

Inside Student

In [14]:
# Creating Table inside the new Database whcih we have created
import mysql.connector as connection
try:
    conn = connection.connect(host='localhost',user='root',passwd='root',use_pure=True)
    cr = conn.cursor()
    query1 = 'use student'
    query2 = 'CREATE TABLE Student (PersonID int,LastName varchar(255),FirstName varchar(255),Address varchar(255),City varchar(255))'
    cr.execute(query1)
    cr.execute(query2)
    print(' Table created')
except Exception as e:
    conn.close()
    print(str(e))

 Table created

In [17]:
# Insertin data into the Student table 
import mysql.connector as connection
try:
    conn = connection.connect(host='localhost',user='root',passwd='root',use_pure=True)
    cr = conn.cursor()
    query1 = 'use student'
    query2 = "insert into Student values (1,'Singh','Kumar','13 RedHouse','Bagdogra')"
    cr.execute(query1)
    cr.execute(query2)
    conn.commit()
    print('Data Inerted')
except Exception as e:
    conn.close()
    print(str(e))

Data Inerted

In [24]:
import mysql.connector as connection
try:
    conn = connection.connect(host='localhost',user='root',passwd='root',use_pure=True)
    cr = conn.cursor()
    query1 = 'use student'
    query2 = "select* from Student"
    cr.execute(query1)
    cr.execute(query2)
    cr.fetchall()
except Exception as e:
    conn.close()
    print(str(e))

In [25]:
cr = conn.cursor()
cr.execute(query2)
cr.fetchall()

[]

In [36]:
cr=conn.cursor()
query1 = 'use student'
query2 = "insert into Student values (8,'Singh','Kumar','13 RedHouse','Bagdogra')"
cr.execute(query1)
cr.execute(query2)

In [43]:
conn = connection.connect(host='localhost',user='root',passwd='root',use_pure=True)
cr.execute('use student')
cr=conn.cursor()
cr.execute('select * from Student')
cr.fetchall()

ProgrammingError: 1046 (3D000): No database selected

In [48]:
import mysql.connector as connection
try:
    conn = connection.connect(host='localhost',user='root',passwd='root',use_pure=True)
    cr = conn.cursor()
    query1 = 'use student'
    query2 = "insert into Student values (4,'Singh','Kumar','13 RedHouse','Bagdogra')"
    cr.execute(query1)
    cr.execute(query2)
    conn.commit()
    print('Data Inerted')
except Exception as e:
    conn.close()
    print(str(e))

Data Inerted

In [51]:
cr=conn.cursor()
cr.execute('select * from Student')
cr.fetchall()

InternalError: Unread result found

In [52]:
# Pandas
import pandas as pd

In [54]:
conn

In [57]:
pd.read_sql('use student',conn)

InternalError: Unread result found

In [58]:
conn = connection.connect(host='localhost',database='student',user='root',passwd='root',use_pure=True)

In [63]:
a= pd.read_sql('select * from Student',conn)

In [64]:
a.to_csv('mydata.csv')

In [2]:
import mysql.connector as connection
conn = connection.connect(host='localhost',database='student',user='root',passwd='root',use_pure=True)

In [20]:
cur = conn.cursor()
cur.execute('CREATE TABLE Student1 (PersonID int,LastName varchar(255),FirstName varchar(255),Address varchar(255),City varchar(255))')

In [21]:
import pandas as pd
data = pd.read_csv('mydata.csv')

In [22]:
# It is due to mysql issue
# To transfer data from CSV to MySQL we need to use longer way in the second video (Database)itself we where doing long methodto implemet this
data.to_sql('Student1',conn)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

In [25]:
# delete Query
import mysql.connector as connection
try:
    conn = connection.connect(host='localhost',user='root',passwd='root',use_pure=True)
    cr = conn.cursor()
    query1 = 'use student'
    query2 = "delete from  Student where PersonID =4"
    cr.execute(query1)
    cr.execute(query2)
    conn.commit()
    print('Data Deleted')
except Exception as e:
    conn.close()
    print(str(e))

Data Deleted

In [30]:
# Update Query
import mysql.connector as connection
try:
    conn= connection.connect(host='localhost',user='root',passwd='root',use_pure='True')
    cr = conn.cursor()
    query1='use student'
    query2='update Student set LastName="hero" where PersonID=3'
    cr.execute(query1)
    cr.execute(query2)
    conn.comit()
    print('Data Deleted')
except Exception as e:
    conn.close()
    print(str(e))

'MySQLConnection' object has no attribute 'comit'