In [1]:
# Python Complete Introduction 
print("This is my first Python Program")

This is my first Python Program

In [2]:
# This is single Line comment "#"

In [3]:
"""This is multi line Comment"""

'This is multi line Comment'

In [6]:
#Variable in Python
# In python we dont define any variable
a = 3
b="dfbsdhlg"

In [7]:
type(a)
type(b)

str

In [9]:
# Multi Value assignment in Python 
a,b,c = 2,3,4
print(a,b,c)

2 3 4

In [10]:
a,b,c = "dfgs",4,"dfgd"
print(a,b,c)

dfgs 4 dfgd

In [11]:
# in Python True and False is defined as 1 and 0
print(True+False+True+False)

2

In [12]:
print(False-True+True)

0

In [14]:
# Python can handle general Cariable very easily 
j = 445+23j
print(j)
type(j)

(445+23j)

complex

In [16]:
# Python Concitation
'anish'*3
'anish'+'anish'

'anishanish'

In [17]:
# Taking input in Python
a = input("Enter a Value")
print(a)

Enter a Value23
23

In [ ]:
# By default python take value as String
a=input("Enter Value of A")
b=input("Enter Value of B")
c=input("Enter Value of C")
d = a+b+c
print(d)

In [2]:
# To convert the input value 
a=int(input("Enter value of a"))
b=int(input("Enter value of b"))
c=int(input("Enter value of c"))
print(a+b+c)

Enter value of a4
Enter value of b8
Enter value of c8
20

In [4]:
# Conditional Statement in Python
salary = int(input("Enter your Salary"))
if salary<=70000:
    print("You Really need to work hard")
elif salary>=100000:
    print("You are working moderately")
elif salary >=200000:
    print("You are doing really Well")
else:
    print("Start Earning Money")

Enter your Salary200000
You are working moderately

In [6]:
# Loops In python
a = int(input("Enter the value of A"))
while a>0:
    print(a)
    a= a-1

Enter the value of A8
8
7
6
5
4
3
2
1

In [7]:
# In python we dont have the concept of Curly Braces 
in_speed=100
fi_speed=200
while in_speed < fi_speed:
    print("You can still increase the speed")
    in_speed = in_speed+10

You can still increase the speed
You can still increase the speed
You can still increase the speed
You can still increase the speed
You can still increase the speed
You can still increase the speed
You can still increase the speed
You can still increase the speed
You can still increase the speed
You can still increase the speed

In [17]:
# Break statement in python 
intial_speed=0
final_speed=100
while intial_speed<=final_speed:
    print("You can still increase your speed")
    intial_speed= intial_speed+10
    if(intial_speed == 100):
        break   
    print(intial_speed)
print('After break what is your speed',intial_speed)

You can still increase your speed
10
You can still increase your speed
20
You can still increase your speed
30
You can still increase your speed
40
You can still increase your speed
50
You can still increase your speed
60
You can still increase your speed
70
You can still increase your speed
80
You can still increase your speed
90
You can still increase your speed
After break what is your speed 100

In [18]:
# In Python we can use else statement with whyle loop
note =5
i=1
while(i<5):
    print("We have 5 rupees note")
    i=i+1
else:
    print("All 5 Rupee notes are over")

We have 5 rupees note
We have 5 rupees note
We have 5 rupees note
We have 5 rupees note
All 5 Rupee notes are over

In [20]:
# String in python
# In python we store all sort of string in the form of arry so basically we can perform all arrya operation in string
s="Anish"
k="My Name is Anish"
# To print any paticular character
print(k[6])
# Print a paticular ange of character
print(k[2:5])
#print by escaping the character
print(k[2:9:2])

e
 Na
 aei

In [23]:
# In python we have a provision of reverse indexing
k="Hellomynameisanish"
print(k[2:-2])

llomynameisani

In [26]:
# Reverse Odering helps to reverse any string just by changing the index
k="Hellomynameisanish"
print(k[::-1])
#escaping Character in python
print(k[:2:-1])
#Printing by escaping the character
print(k[::-2])

hsinasiemanymolleH
hsinasiemanymol
hiaimnmle

In [1]:
k="Hello my name is Anish and I am working in Accenture"
for i in k:
    if(i=='m'):
        print('Found the Character')
    print("Character not present")

Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Found the Character
Character not present
Character not present
Character not present
Character not present
Character not present
Found the Character
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Found the Character
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present
Character not present

In [3]:
#break in Puython
k="GoodMorningIndia"
for i in k:
    if i=="z":
        print(i)
        break
else:
    print("Character Does not exist")

Character Does not exist

In [5]:
#Continue in Python
k="GoodMorningIndia"
for i in k:
    if i!="g":
        print(i)
        continue

G
o
o
d
M
o
r
n
i
n
I
n
d
i
a

In [6]:
#len operation in python
k="sdfghjkfghjklhjgkjlkgfjghljkufyguiuoi"
for i in range(len(k)):
    if i==6:
        continue
    print(i)
else:
    print('Value does not exist')

0
1
2
3
4
5
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
Value does not exist

In [8]:
n=int(input('Enter Value'))
for i in range(0,n):
    for j in range(0,i+1):
        print('+',end=' ')
    print('\r')

Enter Value8
+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +
+ + + + + + + +

In [9]:
# list in python 
# list i python defines with square bracket, with []
#In python list behave same as array
# Way of declaring list
#List can hold any values
l=[] # Empty List
m=list()
l=[7,78,8,2,8,4,8,2,5]
type(l)

list

In [10]:
l=['s',8,'d',7,True]
for i in l:
    if i == True:
        print('Success')

Success

In [15]:
#List concatination
l[::]
#Reversing List
l[::-1]
#Skiipping character
l[::-2]
#list with range()
l=list(range(1,10))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
#find() and count() operation is String
st="dfgf dfgfd asda eer sd hrt ser hhh terte ere"
st.count('eer')
st.find('eer')

16

In [20]:
if st.find('eer'):
    print(True)
else:
    print(False)

True

In [22]:
# split operating on string
#split split string ans store in list
st.split()

['dfgf', 'dfgfd', 'asda', 'eer', 'sd', 'hrt', 'ser', 'hhh', 'terte', 'ere']

In [23]:
# upper and lower case() method in string
st.upper()

'DFGF DFGFD ASDA EER SD HRT SER HHH TERTE ERE'

In [24]:
st.lower()

'dfgf dfgfd asda eer sd hrt ser hhh terte ere'

In [27]:
#reversi operation on string
streverse = reversed(st)
print(streverse)

<reversed object at 0x0000016CBD96EEB0>

In [28]:
# Strin operation in python remove spaces
print(st.strip())

dfgf dfgfd asda eer sd hrt ser hhh terte ere

In [29]:
#replace operation in python
st.replace('a','Z')

'dfgf dfgfd ZsdZ eer sd hrt ser hhh terte ere'

In [30]:
#islower() and isupper()in string in python
st.isupper()
st.islower()

True

In [31]:
# startwith() and endswith()
st.startswith('a')

False

In [32]:
st.endswith('b')

False

In [35]:
# operation on list
#max() operation in list
l1=[1,2,3,44,4,5,6,7,6]
print(max(l1))

44

In [36]:
#min operation in python
print(min(l1))

1

In [37]:
#append , it insert at the last
l1.append('anish')
l1

[1, 2, 3, 44, 4, 5, 6, 7, 6, 'anish']

In [40]:
#insert it can insert at any position
l1.insert(12,'kumar')
l1

[1, 2, 3, 44, 4, 5, 6, 7, 6, 'anish', 'kumar', 'kumar']

In [41]:
#count()
l1.count('kumar')

2

In [43]:
#append operation in list will append one list to another
l1.append(l1)
l1

[1, 2, 3, 44, 4, 5, 6, 7, 6, 'anish', 'kumar', 'kumar', [...], [...]]

In [45]:
#index operation in list
l1.index(3)

2

In [46]:
#pop operation in list
l1.pop(3)

44

In [47]:
l1

[1, 2, 3, 4, 5, 6, 7, 6, 'anish', 'kumar', 'kumar', [...], [...]]

In [49]:
#remove operation in python
l1.remove('kumar')
l1

[1, 2, 3, 4, 5, 6, 7, 6, 'anish', [...], [...]]

In [51]:
#sort operation in list
l2=[9,8,7,6,5,4,3,2,1]
l2.sort()
l2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
#Comprehensation in python
[i for i in "ANihs Kumar singh"]

['A',
 'N',
 'i',
 'h',
 's',
 ' ',
 'K',
 'u',
 'm',
 'a',
 'r',
 ' ',
 's',
 'i',
 'n',
 'g',
 'h']

In [55]:
['odd' if i%2 !=0 else "even" for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [60]:
# Tuples
#Tuples are immutable
t = ()
type(t)

tuple

In [61]:
t=(1,2,3,4,5)
t[4]='anish'

TypeError: 'tuple' object does not support item assignment

In [62]:
#Append operation on tuples
t+t

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [63]:
#Multiplication operation on tuples
t*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [64]:
# to check anything in tuple
2 in t

True

In [65]:
#max() operation on tuples
max(t)

5

In [67]:
#index operation on tuples
t.index(2)

1

In [69]:
t.count(2)

1

In [72]:
#append operation on tuples
# append operation wont work on tuple so we have the following workaround
l2 = list()
l2.append(2)
l2.append(3)
tuple(l2)

(2, 3)

In [73]:
#Data slicing operation on tuple
t[2]

3

In [74]:
#Set collection in python
#Set contains only unique value
l=[1,2,3,4,5,6,7,8,9]
s = set(l)

In [75]:
#Iteration over 
for i in s:
    print(i)

1
2
3
4
5
6
7
8
9

In [80]:
#add() function over set
#Set automatically sort everything in ascending order
s={1,2,3,44,5}
s.add(5)
s.add(444)
s

{1, 2, 3, 5, 44, 444}

In [83]:
#remove operation on set
s.remove(3)
s

{1, 5, 44, 444}

In [84]:
#Clear operation on set
#By default curly braces represent dictionary
s={}
type(s)

dict

In [85]:
# Array dont exist in core python
#List --> Mutable in Nature
#Tuple --> Immutable entity
#Set -->Only hold unique Value
#Dictionary -- Stores Value in key-value in pair

In [87]:
dic ={'a':1,'b':2,'c':3,'d':4}
dic

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [88]:
for i in dic:
    print(i)# by default it print Key

a
b
c
d